*{
    margin: 0px;
    padding: 0px;
    
}
.pokeimg{
    width: 150px;
    height: 150px;
}
.max{
    background-image: url(./Fonts/Screenshot\ 2023-03-14\ at\ 2.36.25\ AM.png);
    width: 1680px;
    height: 340px;
    background-size: contain;
}
.banner{
    align-items: center;
    width: 400px;
    padding-left: 40%;

}
main{
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3a390145-1e80-4c9f-bea4-6f11959496cd/del304o-a42b2fab-d054-4ae3-be0b-dcb50b429172.jpg/v1/fill/w_1192,h_670,q_70,strp/pokeball_wallpaper_by_blackholekun_del304o-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvM2EzOTAxNDUtMWU4MC00YzlmLWJlYTQtNmYxMTk1OTQ5NmNkXC9kZWwzMDRvLWE0MmIyZmFiLWQwNTQtNGFlMy1iZTBiLWRjYjUwYjQyOTE3Mi5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.uUBZCvo3rUs5zwjD83BHcfVX8H_E70EkJqrgIRqBCaw);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding: 150px 250px;
    
}
.card{
    margin: 30px;
    width: 220px;
    height: 300px;
    align-items: center;
    text-align: center;
    text-transform:capitalize;
}
.background{
    box-shadow: 0 0 50px rgb(0 0 0 / 10%);
    border-radius: 10px;
    border: 10px solid rgb(252, 252, 116);
    width: 250px;
    height: 280px;
}
.backgroundart{
    
    width: 200px;
    height: 150px;
    margin-left: 23px;
    border: 2px solid black;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGxU9GNqapKGKd7MGgjGEUOKw4bGeGaim4QHYoVEDyKNq7DuJYo6bKyUvFL83tPVvkUz0&usqp=CAU");
    background-size: cover;
    margin-bottom: 20px;
    border-radius: 10px;
}
.Name{
    padding-top: 5px ;
    padding-left: 5px;
    text-align: left;
}
.type{
    margin-bottom: 20px;
    font-weight: 700;
}
.water {
    background-color: rgba(107, 207, 240, 0.65);
  }
  
.fire {
    background-color: rgba(253, 109, 96, 0.588);
  }
  
.grass{
    background-color: rgba(95, 228, 95, 0.843);
  }
.bug{
    background-color: rgba(95, 228, 95, 0.843);
  }
.normal{
    background-color: rgba(199, 199, 199, 0.843);
}
.poison{
    background-color: rgba(162, 90, 238, 0.843);
}
.electric{
    background-color: rgba(213, 238, 90, 0.994);
}
.ground{
    background-color: rgba(190, 130, 0, 0.753);
}
.fairy{
    background-color: rgba(209, 6, 172, 0.994);
}
.fighting{
    background-color: rgba(190, 130, 0, 0.753);
}
.psychic{
    background-color: rgba(162, 90, 238, 0.843);
}
.rock{
    background-color: rgba(190, 130, 0, 0.753);
}
.ghost{
    background-color: rgba(162, 90, 238, 0.843);
}
.ice {
    background-color: rgba(107, 207, 240, 0.595);
  }
.dragon{
    background-color: rgba(199, 199, 199, 0.843);
}
